<% @page_title = "Admin Login" %>

<div class="menu">
	<%= form_tag(:action => 'attempt_login') do %>
	<table>
		<tr>
			<td><span class="brown">Username: </span></td>
			<td><%= text_field_tag(:username) %></td>
		</tr>
		<tr>
			<td><span class="brown">Password: </span></td>
			<td><%= password_field_tag(:password) %></td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td><%= submit_tag("Login In") %></td>
		</tr>
		<tr>
			<td>
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<%= link_to("Back to Content", {:controller => 'public', :action => 'index'}, class: 'button-link') %>
			</td>
		</tr>
	</table>
	<% end %>
</div>